/*
@import url("http://fonts.googleapis.com/css?family=Cuprum");
*/

html,body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,button,input,textarea,th,td{ margin:0; padding:0; }
html,body {
  color:#333;
  font-size: 16px;font-family:"Cuprum", Helvetica, Arial, sans-serif;
  height: 100%;
  background: #fff;
}
h1,h2,h3,h4,h5,h6{font-size:100%;}
h2{padding-bottom:10px;}
ul,ol,li{list-style-type:none; overflow: hidden;_zoom:1;}
img{ border: 0; vertical-align: top;}
em{ font-style: normal; color: #f00; }
table {border-collapse:collapse;border-spacing:0;}
a:link {color: #3780AA; text-decoration:underline;}
a:visited {color: #3780AA;text-decoration:none;}
a:hover {color: #3780AA; text-decoration: underline; }
a:active {color: #3780AA;text-decoration:none;}
a{outline:none;}
img,a img{ border: 0; vertical-align: middle; }
input,select{ vertical-align: middle; margin: 0;}
input:focus{outline:none;}

pre{font-size: 12px;}

em{ font-style: normal;  color: #07c; }
select{height:25px;line-height:25px;}
textarea{
  border:1px solid #222;
  padding: 5px;
  margin:auto;
  background: #222;
  color:#98DF8A;
}
textarea:focus{outline:none;}

.main .subcategory .chart{}
.clr{clear:both;}
.txt{padding:5px 5px;background:#98a594;color:#fff;border:none;width:200px;}
.readonly{height:30px;line-height:30px;background:none;border:none;width:200px;text-indent:5px;}
a.btn{ 
   color:#fff;
   display: inline-block;
   padding:0px 5px;
   height:25px;
   line-height:25px;
   margin-right: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0px 1px rgba(0,0,0,0.4);
  box-shadow: 0 0px 1px rgba(0,0,0,0.4);
  background: #8a240d;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
a.btn:hover{
  background: #8a240d; 
  text-decoration:none;
}

.main{
  position: absolute;
  left:0px;
  top:0px;
  right: 0px;
  overflow-y:auto; 
}

.main .category{
  margin:0px 0px;
}

.main h1{
    font-size: 14px;
    line-height: 40px;
    text-indent: 10px;
    border-bottom: 1px solid #e7e7e7;
}
.main h2{
    color:#555;
    border-bottom: 1px dashed #e7e7e7;
    font-size: 14px;
}
.main .subcategory{
	margin:30px;
}
.main .subcategory div{
  margin:20px 0px 0px 0px;
  line-height: 20px;
  color:#666;
}