html,body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,button,input,textarea,th,td{ margin:0; padding:0; }
html,body {font-size: 12px;font-family:arial,helvetica,sanserif;background:#fff;height: 100%;background: #111;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
h2{padding-bottom:10px;}
ul,ol,li{list-style-type:none; overflow: hidden;_zoom:1;}
img{ border: 0; vertical-align: top;}
em{ font-style: normal; color: #f00; }
table {border-collapse:collapse;border-spacing:0;}
a:link {color: #98a594; text-decoration:underline;}
a:visited {color: #98a594;text-decoration:none;}
a:hover {color: #98a594; text-decoration: underline; }
a:active {color: #98a594;text-decoration:none;}
a{outline:none;}
img,a img{ border: 0; vertical-align: middle; }
input,select{ vertical-align: middle; margin: 0;}
input:focus{outline:none;}

em{ font-style: normal;  color: #07c; }
select{height:25px;line-height:25px;}
textarea{
  border:1px solid #222;
  padding: 5px;
  margin:auto;
  background: #222;
  color:#98DF8A;
}
textarea:focus{outline:none;}

.clr{clear:both;}
.txt{padding:5px 5px;background:#98a594;color:#fff;border:none;width:200px;}
.readonly{height:30px;line-height:30px;background:none;border:none;width:200px;text-indent:5px;}
a.btn{ 
   color:#fff;
   display: inline-block;
   padding:0px 5px;
   height:25px;
   line-height:25px;
   margin-right: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0px 1px rgba(0,0,0,0.4);
  box-shadow: 0 0px 1px rgba(0,0,0,0.4);
  background: #8a240d;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
a.btn:hover{
  background: #8a240d; 
  text-decoration:none;
}

.foot{position:relative;height:60px;line-height: 20px;padding-top: 40px;color:#999;}
.foot a{color:#666;}
.bottom{position:relative;width:100%;}

.left{
  float: left;
  width:200px;
  background:#98a594;
  height: 100%;
}

.left .logo{
    background: #222;
    height:40px;color:#98a594;
    line-height: 40px;
    font-size: 14px;
    text-indent: 10px;
    border-bottom:1px solid #333;
    font-weight: bold;
  }
.left .apps{
    background:#333;
    border-bottom:1px solid #444;
    border-top:1px solid #444;color:#98a594;font-size: 14px;
    text-indent: 10px;
    position: relative;
}

.left .apps img{
   position: absolute;;
   right:10px;
   top: 10px;
   cursor: pointer;
}

.left .appsWraper{
  background: #000;
  height: 100px;
  display: none;
}

.left div {
  background: #222;
  margin-right: 5px;
  height: 100%;
}

.left ul li{
  line-height: 35px;
}
.left ul li a {
	display: block;
	text-decoration: none;
  text-indent: 10px;
  color:#999;
  font-size: 12px;
  border-bottom: 1px solid #222;
}
.left ul li a:hover{
  background: #98a594;
  color:#000;
}
.left ul li a.selected{background: #98a594;color:#000;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);}
.left ul li a.selected:hover{
}

.left .category ul {
  background: #111;
  margin-right: 0px;
  display: none;
}
.left .category ul li a{
  text-indent: 25px;
  color:#999;
}
.left .category ul li a:hover{
  text-indent: 25px;
  background: #000;
  color: #98a594;
}
.left .category ul li a.selected{
  text-indent: 25px;
  background: #000;
  color: #98a594;
  cursor: pointer;
  text-shadow: none;
}
.right{
  position: absolute;
  left:200px;
  top:0px;
  right: 0px;
  height: 100%;
  color:#ccc;
  overflow-y:auto; 
}

.right .category{
  margin:0px 30px;
}

.right h1{
	  color:#98a594;
    background: #222;
    font-size: 14px;
    line-height: 40px;
    text-indent: 30px;
    border-bottom: 1px solid #98a594;
}
.right h2{
    border-bottom: 1px solid #222;
}
.right .subcategory{
	margin:30px;
}
.right .subcategory div{
  padding:10px 10px 0px 10px;
  line-height: 20px;
  color:#666;
}